.france-border {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.france-blue {
    width: 71px;
    height: 130px;
    background-color: #2b67e9;
    display: inline;
}

.france-white {
    width: 71px;
    height: 130px;
    background-color: rgb(238, 238, 238);
    display: inline;
}

.france-red {
    width: 71px;
    height: 130px;
    background-color: rgb(215, 57, 57);
    display: inline;
}