.denmark-red {
    width: 220px;
    height: 130px;
    background-color: rgb(225, 69, 69);
    position: relative;
}

.denmark-white-horizontal {
    width: 220px;
    height: 20px;
    background-color: rgb(250, 250, 250);
    position: absolute;
    top: 55px;
}

.denmark-white-vertical {
    width: 20px;
    height: 130px;
    background-color: rgb(250, 250, 250);
    position: absolute;
    left: 45px;
}