.india-orange {
    width: 220px;
    height: 42px;
    background-color: #ff7a3c;
}

.india-white {
    width: 220px;
    height: 44px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.india-green {
    width: 220px;
    height: 42px;
    background-color: #267436;
}

.india-chakra-base {
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: solid 4px #2f356e;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.india-chakra-inner-circle {
    background-color: #2f356e;
    display: center center;
    border-radius: 100%;
    width: 7px;
    height: 7px;
}

.india-small-circle1,
.india-small-circle2,
.india-small-circle3,
.india-small-circle4,
.india-small-circle5,
.india-small-circle6,
.india-small-circle7,
.india-small-circle8,
.india-small-circle9,
.india-small-circle10,
.india-small-circle11,
.india-small-circle12,
.india-small-circle13,
.india-small-circle14,
.india-small-circle15,
.india-small-circle16,
.india-small-circle17,
.india-small-circle18,
.india-small-circle19,
.india-small-circle20,
.india-small-circle21,
.india-small-circle22,
.india-small-circle23,
.india-small-circle24 {
    background-color: #2f356e;
    border-radius: 100%;
    width: 2px;
    height: 2px;
    position: absolute;
}

.india-small-circle1 {
    top: -1px;
    left: 14px;
    transform: rotate(-180deg);
}

.india-small-circle2 {
    top: -1px;
    left: 19px;
    transform: rotate(-180deg);
}

.india-small-circle3 {
    top: 1px;
    right: 9px;
    transform: rotate(15deg);
}

.india-small-circle4 {
    top: 3px;
    right: 5px;
}

.india-small-circle5 {
    top: 8px;
    right: 1px;
}

.india-small-circle6 {
    top: 12px;
    right: -0.5px;
}

.india-small-circle7 {
    top: 15px;
    right: -1px;
    transform: rotate(-180deg);
}

.india-small-circle8 {
    bottom: 14px;
    right: -1.5px;
}

.india-small-circle9 {
    bottom: 10px;
    right: 0.5px;
    transform: rotate(-180deg);
}

.india-small-circle10 {
    bottom: 6px;
    right: 3px;
    transform: rotate(-180deg);
}

.india-small-circle11 {
    bottom: 3px;
    right: 5.5px;
    transform: rotate(-180deg);
}

.india-small-circle12 {
    bottom: 0.5px;
    right: 9px;
    transform: rotate(-180deg);
}

.india-small-circle13 {
    bottom: -1px;
    right: 14px;
    transform: rotate(-180deg);
}

.india-small-circle14 {
    bottom: -1px;
    left: 14px;
    transform: rotate(-180deg);
}

.india-small-circle15 {
    bottom: 0.5px;
    left: 9px;
    transform: rotate(-180deg);
}

.india-small-circle16 {
    bottom: 3px;
    left: 5px;
    transform: rotate(-165deg);
}

.india-small-circle17 {
    bottom: 6px;
    left: 2px;
    transform: rotate(-180deg);
}

.india-small-circle18 {
    bottom: 10px;
    left: 0px;
}

.india-small-circle19 {
    bottom: 14px;
    left: -1px;
    transform: rotate(-180deg);
}

.india-small-circle20 {
    top: 15px;
    left: -1px;
    transform: rotate(-180deg);
}

.india-small-circle21 {
    top: 11px;
    left: 0px;
    transform: rotate(-180deg);
}

.india-small-circle22 {
    top: 6px;
    left: 2px;
    transform: rotate(-180deg);
}

.india-small-circle23 {
    top: 3px;
    left: 6px;
    transform: rotate(-180deg);
}

.india-small-circle24 {
    top: 0px;
    left: 10px;
}

.india-spoke-upper {
    width: 0;
    height: 0;
    border-left: solid 1.25px transparent;
    border-right: solid 1.25px transparent;
    border-bottom: solid 12px #2f356e;
}

.india-spoke-lower {
    width: 0;
    height: 0;
    border-left: solid 1.25px transparent;
    border-right: solid 1.25px transparent;
    border-top: solid 4px #2f356e;
}

.india-spoke1 {
    position: absolute;
    left: 17px;
    top: 0px;
}

.india-spoke2 {
    position: absolute;
    left: 20px;
    top: 1px;
    transform: rotate(15deg);
}

.india-spoke3 {
    position: absolute;
    left: 23px;
    top: 2px;
    transform: rotate(30deg);
}

.india-spoke4 {
    position: absolute;
    left: 25px;
    top: 4px;
    transform: rotate(45deg);
}

.india-spoke5 {
    position: absolute;
    left: 26px;
    top: 7px;
    transform: rotate(60deg);
}

.india-spoke6 {
    position: absolute;
    left: 27px;
    top: 8px;
    transform: rotate(75deg);
}

.india-spoke7 {
    position: absolute;
    left: 28px;
    top: 10.5px;
    transform: rotate(90deg);
}

.india-spoke8 {
    position: absolute;
    left: 27px;
    top: 13px;
    transform: rotate(105deg);
}

.india-spoke9 {
    position: absolute;
    left: 26px;
    top: 15px;
    transform: rotate(120deg);
}

.india-spoke10 {
    position: absolute;
    left: 24px;
    top: 17px;
    transform: rotate(135deg);
}

.india-spoke11 {
    position: absolute;
    left: 22px;
    top: 18px;
    transform: rotate(150deg);
}

.india-spoke12 {
    position: absolute;
    left: 19px;
    top: 19px;
    transform: rotate(165deg);
}

.india-spoke13 {
    position: absolute;
    left: 17px;
    bottom: 0px;
    transform: rotate(180deg)
}

.india-spoke14 {
    position: absolute;
    left: 14px;
    bottom: 1px;
    transform: rotate(195deg)
}

.india-spoke15 {
    position: absolute;
    left: 12px;
    bottom: 2px;
    transform: rotate(210deg)
}

.india-spoke16 {
    position: absolute;
    left: 9px;
    bottom: 3px;
    transform: rotate(225deg)
}

.india-spoke17 {
    position: absolute;
    left: 8px;
    bottom: 5px;
    transform: rotate(240deg)
}

.india-spoke18 {
    position: absolute;
    left: 7px;
    bottom: 7px;
    transform: rotate(255deg)
}

.india-spoke19 {
    position: absolute;
    left: 6px;
    top: 10.5px;
    transform: rotate(270deg);
}

.india-spoke20 {
    position: absolute;
    left: 7px;
    top: 8px;
    transform: rotate(285deg);
}

.india-spoke21 {
    position: absolute;
    left: 8px;
    top: 6px;
    transform: rotate(300deg);
}

.india-spoke22 {
    position: absolute;
    left: 10px;
    top: 4px;
    transform: rotate(315deg);
}

.india-spoke23 {
    position: absolute;
    left: 12px;
    top: 2px;
    transform: rotate(330deg);
}

.india-spoke24 {
    position: absolute;
    left: 14px;
    top: 1px;
    transform: rotate(345deg);
}