.uk-base {
    width: 220px;
    height: 130px;
    background-color: #fff5f5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.uk-red-vertical,
.uk-red-horizontal {
    background-color: #c90c16;
    position: absolute;
}

.uk-red-vertical {
    width: 32px;
    height: 130px;
}

.uk-red-horizontal {
    width: 220px;
    height: 32px;
}

.uk-quadrant1,
.uk-quadrant2,
.uk-quadrant3,
.uk-quadrant4 {
    width: 83px;
    height: 40px;
    position: absolute;
    background-color: #fff5f5;
    overflow: hidden;
}

.uk-quadrant1 {
    right: 0;
    top: 0;
}

.uk-quadrant2 {
    left: 0;
    top: 0;
    transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
}

.uk-quadrant3 {
    left: 0;
    bottom: 0;
    transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
}

.uk-quadrant4 {
    right: 0;
    bottom: 0;
    transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -o-transform: scale(1, -1);
}

.triangle1 {
    position: absolute;
    left: 0;
    top: 0;
    border-top: solid 35px #161b7d;
    border-left: solid 0 transparent;
    border-right: solid 52px transparent;
}


.red-line {
    border-bottom: solid 10px #c90c16;
    border-left: solid 24px transparent;
    border-right: solid 24px transparent;
    width: 120px;
    margin-left: -58px;
    margin-top: 23px;
    transform: rotate(-215deg);
    -webkit-transform: rotate(-215deg);
    -moz-transform: rotate(-215deg);
    -o-transform: rotate(-215deg);
}

.uk-quadrant2 .red-line,
.uk-quadrant4 .red-line {
    margin-left: -50px;
    transform: rotate(-208deg);
    -webkit-transform: rotate(-208deg);
    -moz-transform: rotate(-208deg);
    -o-transform: rotate(-208deg);
}

.triangle2 {
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom: solid 30px #161b7d;
    border-left: solid 55px transparent;
    border-right: solid 0px transparent;
}