.romania-border {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.romania-blue {
    width: 71px;
    height: 130px;
    background-color: rgb(63, 122, 249);
    display: inline;
}

.romania-yellow {
    width: 71px;
    height: 130px;
    background-color: rgb(255, 200, 59);
    display: inline;
}

.romania-red {
    width: 71px;
    height: 130px;
    background-color: rgb(215, 57, 57);
    display: inline;
}