.thailand-red {
    width: 220px;
    height: 21px;
    background-color: rgb(189, 55, 55);
}

.thailand-white {
    width: 220px;
    height: 21px;
    background-color: rgb(252, 252, 252);
}

.thailand-blue {
    width: 220px;
    height: 49px;
    background-color: rgb(38, 45, 169);
}