.russia-white {
    width: 220px;
    height: 43px;
    background-color: #f8f8f8;
}

.russia-blue {
    width: 220px;
    height: 43px;
    background-color: #2b67e9;
}

.russia-red {
    width: 220px;
    height: 43px;
    background-color: #e24a4a;
}