* {
    font-family: 'Archivo Black', 'Mochiy Pop P One', sans-serif;
}

body {
    background: linear-gradient(to bottom, #1f51ff, deepSkyBlue);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dark-mode body {
    background: linear-gradient(to bottom, #ae4ae8, #ff58bc, #ff6d5c, #ffe571);
}

section {
    margin-top: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 0px;
    align-items: center;
    justify-content: center;
}

p {
    opacity: 0;
    animation: fadeInOut 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: whiteSmoke;
}

.smiley-face {
    position: relative;
    margin-top: 25px;
    border: solid 1px black;
    background-color: #ffd900;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 1px 2px 3px 0.5px black;
    
    animation: spin 1s;
    animation-iteration-count: infinite;
    
}

.left-eye, .right-eye {
    position: absolute;
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 37px;
}
.left-eye {
    left: 34px;
}

.right-eye {
    right: 34px;
}

.smile {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 23px;
    width: 65px;
    height: 50px;
    border-radius: 50%;
    border-bottom: solid 20px black;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(36deg);
    }
    20% {
        transform: rotate(72deg);
    }
    30% {
        transform: rotate(108deg);
    }
    40% {
        transform: rotate(144deg);
    }
    50% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(216deg);
    }
    70% {
        transform: rotate(252deg);
    }
    80% {
        transform: rotate(288deg);
    }
    90% {
        transform: rotate(324deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeInOut {
    40% {
        opacity: 1;
    }
    80%  {
        opacity: 0;
    }
}